<h3>Galpão <%= @warehouse.code %></h3>
<strong> <%= @warehouse.description %> </strong>
	<div>
    	<ul> Nome: <%= @warehouse.name %> </ul>
    	<ul> Cidade: <%= @warehouse.city %> </ul>
    	<ul> Área: <%= @warehouse.area %> m2 </ul>
    	<ul> Endereço: <%= @warehouse.address%> CEP: <%= @warehouse.cep %> </ul>
	</div>


<%= link_to('Editar', edit_warehouse_path)%>
<%= button_to 'Remover', warehouse_path, data: { turbo_confirm: "Sure?" }, method: :delete %>

<div>
	<h2> Itens em Estoque </h2>
		<% @stocks.each_pair do |pm, quantity| %>
			<%= quantity %> x <%= pm.sku %>
		<% end %>

</div>


<%= link_to('Voltar', root_path)%>